/* line 3, ../scss/base/_extends.scss */
body .container, section#portfolio figure, section#skills .skills-wrap {
  width: 90%;
  margin: auto;
}

/* line 14, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../scss/base/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../scss/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../scss/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base Styles ------*/
/* line 3, ../scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../scss/base/_base.scss */
body {
  background-color: black;
  text-align: center;
  font-family: "Khula", Helvetica, Arial, sans-serif;
}
/* line 12, ../scss/base/_base.scss */
body img {
  width: 100%;
}

@media (min-width: 920px) {
  /* line 21, ../scss/base/_base.scss */
  header {
    padding-top: 3em;
  }
}

/* line 29, ../scss/base/_base.scss */
.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

/* Navigation Styles ------*/
/* line 5, ../scss/sections/_nav.scss */
nav ul li {
  background: rgba(255, 255, 255, 0.925);
  margin-bottom: .33em;
}
@media (min-width: 700px) {
  /* line 5, ../scss/sections/_nav.scss */
  nav ul li {
    background: none;
    display: inline-block;
  }
}
/* line 15, ../scss/sections/_nav.scss */
nav ul a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  display: block;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: .75px;
  padding: 1em 0;
}
@media (min-width: 700px) {
  /* line 15, ../scss/sections/_nav.scss */
  nav ul a {
    padding: 0 1em;
    color: #fff;
  }
}
@media (min-width: 700px) {
  /* line 3, ../scss/sections/_nav.scss */
  nav {
    padding-bottom: 3em;
  }
}
@media (min-width: 920px) {
  /* line 32, ../scss/sections/_nav.scss */
  nav#main-nav {
    float: right;
    display: inline-block;
  }
}

/* line 4, ../scss/sections/_profile.scss */
section#profile img {
  width: 70%;
  padding: 2em 0;
}
@media (min-width: 700px) {
  /* line 4, ../scss/sections/_profile.scss */
  section#profile img {
    width: 40%;
    float: right;
    padding: 0 0 3em 2em;
  }
}
@media (min-width: 920px) {
  /* line 4, ../scss/sections/_profile.scss */
  section#profile img {
    clear: both;
  }
}
@media (min-width: 700px) {
  /* line 19, ../scss/sections/_profile.scss */
  section#profile p {
    float: left;
    width: 60%;
    text-align: left;
    font-size: 18px;
  }
}
@media (min-width: 920px) {
  /* line 19, ../scss/sections/_profile.scss */
  section#profile p {
    font-size: 22px;
  }
}
@media (min-width: 700px) {
  /* line 1, ../scss/sections/_profile.scss */
  section#profile {
    padding-bottom: 2em;
  }
}

/* Portfolio Section Styles ------*/
/* line 3, ../scss/sections/_portfolio.scss */
section#portfolio {
  background-color: rgba(255, 255, 255, 0.925);
}
@media (min-width: 700px) {
  /* line 7, ../scss/sections/_portfolio.scss */
  section#portfolio figure {
    width: 50%;
    float: left;
  }
}
@media (min-width: 920px) {
  /* line 7, ../scss/sections/_portfolio.scss */
  section#portfolio figure {
    width: 33.333%;
  }
}
@media (min-width: 700px) {
  /* line 24, ../scss/sections/_portfolio.scss */
  section#portfolio figure img {
    padding: .5em;
  }
}
/* line 30, ../scss/sections/_portfolio.scss */
section#portfolio .project-title {
  padding: 1.5em 0 .5em 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 700px) {
  /* line 30, ../scss/sections/_portfolio.scss */
  section#portfolio .project-title {
    font-size: 18px;
    padding-top: .5em;
  }
}
/* line 41, ../scss/sections/_portfolio.scss */
section#portfolio .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 700px) {
  /* line 41, ../scss/sections/_portfolio.scss */
  section#portfolio .description {
    width: 80%;
    margin: auto;
    font-size: 16px;
  }
}
@media (min-width: 700px) {
  /* line 54, ../scss/sections/_portfolio.scss */
  section#portfolio .medium-clear {
    clear: both;
  }
}
@media (min-width: 920px) {
  /* line 54, ../scss/sections/_portfolio.scss */
  section#portfolio .medium-clear {
    display: none;
  }
}
@media (min-width: 920px) {
  /* line 64, ../scss/sections/_portfolio.scss */
  section#portfolio .wide-clear {
    clear: both;
  }
}
@media (min-width: 700px) {
  /* line 3, ../scss/sections/_portfolio.scss */
  section#portfolio {
    clear: both;
    padding: 0 1em 0 1em;
  }
}
@media (min-width: 920px) {
  /* line 3, ../scss/sections/_portfolio.scss */
  section#portfolio {
    width: 95%;
    margin: auto;
  }
}

/* line 3, ../scss/sections/_skills.scss */
section#skills {
  background-color: rgba(255, 255, 255, 0.925);
  padding-bottom: 3em;
}
/* line 11, ../scss/sections/_skills.scss */
section#skills h2 {
  padding-top: 1em;
}
@media (min-width: 920px) {
  /* line 3, ../scss/sections/_skills.scss */
  section#skills {
    width: 95%;
    margin: auto;
  }
}

/* Contact Section Styles ------*/
/* line 3, ../scss/sections/_contact.scss */
section#contact {
  padding: 1em 0 3em 0;
}
/* line 7, ../scss/sections/_contact.scss */
section#contact p {
  padding-bottom: 1em;
}
@media (min-width: 700px) {
  /* line 7, ../scss/sections/_contact.scss */
  section#contact p {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 920px) {
  /* line 7, ../scss/sections/_contact.scss */
  section#contact p {
    width: 60%;
    font-size: 21px;
  }
}
/* line 21, ../scss/sections/_contact.scss */
section#contact a {
  display: block;
  padding: 1em 1em;
  color: white;
  font-weight: 600;
}
@media (min-width: 920px) {
  /* line 21, ../scss/sections/_contact.scss */
  section#contact a {
    font-size: 21px;
    padding-bottom: 0;
  }
}
/* line 33, ../scss/sections/_contact.scss */
section#contact .light {
  font-weight: 300;
  padding-right: .5em;
}

/* Footer Styles ------*/
/* line 3, ../scss/sections/_footer.scss */
footer {
  padding: 2em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.925);
  font-size: 15px;
  font-weight: 700;
}
/* line 9, ../scss/sections/_footer.scss */
footer h4 {
  float: left;
  color: white;
}
@media (min-width: 700px) {
  /* line 9, ../scss/sections/_footer.scss */
  footer h4 {
    font-size: 15px;
  }
}
/* line 18, ../scss/sections/_footer.scss */
footer a {
  float: right;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
@media (min-width: 700px) {
  /* line 26, ../scss/sections/_footer.scss */
  footer .back-to-top {
    display: none;
  }
}

/* line 34, ../scss/sections/_footer.scss */
nav#footer-nav {
  display: none;
}
@media (min-width: 700px) {
  /* line 37, ../scss/sections/_footer.scss */
  nav#footer-nav a {
    font-size: 12px;
  }
}
@media (min-width: 700px) {
  /* line 34, ../scss/sections/_footer.scss */
  nav#footer-nav {
    display: block;
    float: right;
  }
}

/* line 3, ../scss/sections/_extends.scss */
body .container, section#portfolio figure, section#skills .skills-wrap {
  width: 90%;
  margin: auto;
}

/* line 8, ../scss/sections/_extends.scss */
section#profile, section#portfolio, section#portfolio figure {
  padding-bottom: 2em;
}

/* line 2, ../scss/type/_type.scss */
a {
  text-decoration: none;
}

/* line 6, ../scss/type/_type.scss */
p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

/* line 14, ../scss/type/_type.scss */
section#portfolio p {
  color: black;
}

/* line 18, ../scss/type/_type.scss */
h1 {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  padding: 1em 0;
}
@media (min-width: 700px) {
  /* line 18, ../scss/type/_type.scss */
  h1 {
    padding-top: 2em;
  }
}
@media (min-width: 920px) {
  /* line 18, ../scss/type/_type.scss */
  h1 {
    float: left;
    display: inline-block;
    padding-top: 0;
  }
}

/* line 36, ../scss/type/_type.scss */
section#portfolio h1 {
  color: black;
}

/* line 40, ../scss/type/_type.scss */
h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 3em 0;
}

/* line 45, ../scss/type/_type.scss */
section#contact h2 {
  color: white;
}

/* line 5, ../scss/components/_circles.scss */
section#skills .skill-icon {
  height: 75px;
  width: 75px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  display: inline-block;
  margin: 0 .5em 1em .5em;
}
/* line 13, ../scss/components/_circles.scss */
section#skills .skill-icon p {
  display: block;
  color: white;
  position: relative;
  top: 42%;
  font-size: 12px;
  font-weight: 600;
}
@media (min-width: 920px) {
  /* line 13, ../scss/components/_circles.scss */
  section#skills .skill-icon p {
    font-size: 14px;
  }
}
@media (min-width: 920px) {
  /* line 5, ../scss/components/_circles.scss */
  section#skills .skill-icon {
    height: 90px;
    width: 90px;
    margin: 0 .75em 1em .75em;
  }
}

/* Skills Section Icon Colors ------*/
/* line 36, ../scss/components/_circles.scss */
.light-blue {
  background-color: #36acd0;
}

/* line 39, ../scss/components/_circles.scss */
.yellow {
  background-color: #e0ab26;
}

/* line 42, ../scss/components/_circles.scss */
.green {
  background-color: #52bab4;
}

/* line 45, ../scss/components/_circles.scss */
.blue {
  background-color: #2472aa;
}

/* line 48, ../scss/components/_circles.scss */
.purple {
  background-color: #675a85;
}

/* line 51, ../scss/components/_circles.scss */
.maroon {
  background-color: #903c53;
}

/* line 2, ../scss/components/_toggle.scss */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 8, ../scss/components/_toggle.scss */
.menu-toggle {
  background-image: url("../images/menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
}
@media (min-width: 700px) {
  /* line 8, ../scss/components/_toggle.scss */
  .menu-toggle {
    display: none;
  }
}

/* line 23, ../scss/components/_toggle.scss */
.div-menu {
  display: none;
}
@media (min-width: 700px) {
  /* line 23, ../scss/components/_toggle.scss */
  .div-menu {
    display: block;
  }
}

/* line 32, ../scss/components/_toggle.scss */
#toggle-1:checked ~ .div-menu {
  display: block;
  margin-top: 1em;
}

@media screen and (min-width: 700px) {
  /* line 4, ../scss/_main.scss */
  section#portfolio figure {
    width: 50%;
  }
}
@media screen and (min-width: 920px) {
  /* line 12, ../scss/_main.scss */
  section#portfolio figure {
    width: 33.333%;
  }
}
