/* Base Styles ------*/

* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Khula', sans-serif;
	text-align: center;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

/* Typographic Styles ------*/

p {
	font-size: 17px;
	font-weight: 300;
	line-height: 1.5;
	color: #fff;
	
}

section#portfolio p {
	color: #000;
}

h1 {
	font-size: 27px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
	padding: 1em 0;
}

section#portfolio h1 {
	color: #000;
}

h2 {
	text-transform: uppercase;
	font-size: 16px; 
	font-weight: 700;
	padding: 3em 0;
}

section#contact h2 {
	color: #fff;
}

/* Navigation Styles ------*/

nav ul li {
	background: #dedede;
	margin-bottom: .33em;

}

nav ul a {
	display: block;
	color: #333; 
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: .75px;
	padding: 1em 0;
}

/* Layout Styles ------*/

.container {
	width: 90%; 
	margin: auto;
}

 .clear-fix::after {
  content: "";
  display: table; 
  clear: both; 
}

/* Profile Section Styles ------*/

section#profile {
	padding-bottom: 2em;
}
section#profile img {
	width: 70%;
	padding: 2em 0;

}


/* Portfolio Section Styles ------*/

section#portfolio {
	background-color: #dedede;
	padding-bottom: 2em;
}

section#portfolio figure {
	width: 90%;
	margin: auto;
	padding-bottom: 2em;
}

section#portfolio .project-title {
	padding:1.5em 0 .5em 0;
	font-size: 20px;
	color: #3b3b3b;
}

section#portfolio .description {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	color: #000;
}


/* Skills Section Styles ------*/

section#skills {
	background-color: #dedede;
	padding-bottom: 3em;
}

section#skills .skills-wrap {
	width: 90%;
	margin: auto;
}

section#skills h2 {
	padding-top: 1em;
}

section#skills .skill-icon{
	height: 75px;
	width: 75px; 
	border: 2px solid #3b3b3b;
	border-radius: 50%;
	display: inline-block;
	margin: 0 .5em 1em .5em;
}

section#skills .skill-icon p {
	display: block; 
	color: #fff;
	position: relative; 
	top: 42%;
	font-size: 12px;
	font-weight: 600;
}

/* Skills Section Icon Colors ------*/

.light-blue {
	background-color: #36acd0;
}
.yellow {
	background-color: #e0ab26;
}
.green {
	background-color: #52bab4;
}
.blue {
	background-color: #2472aa;
}
.purple {
	background-color: #675a85;
}
.maroon {
	background-color: #903c53;
}


/* Contact Section Styles ------*/

section#contact {
	padding: 1em 0 3em 0;
}

section#contact p {
	padding-bottom: 1em;
}

section#contact a {
	display: block;
	padding: 1em 1em;
	color: #fff;
	font-weight: 600;
}

section#contact .light {
	font-weight: 300;
	padding-right: .5em;
}

/* Footer Styles ------*/

footer {
	padding: 2em 0 2em 0;
	border-top: 1px solid #dedede;
	font-size: 15px; 
	font-weight: 700;
}
footer h4 {
	float: left; 
}

footer a {
	float: right;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}

footer h4, 
footer a {
	color: #fff;
}

nav#footer-nav {
	display: none;
}

/*----------------------- 
------ Begin Media Queries ------*/

/* First Break Point 700px ------*/

@media screen and (min-width: 700px) {

	h1 {
		padding-top: 2em;
	}

	nav {
		padding-bottom: 3em;
	}
	nav ul li {
		background: none;
		display: inline-block;
	}

	nav ul a {
		padding: 0 1em;
		color: #fff;
	}

	section#profile {
		padding-bottom: 2em;
	}

	section#profile img {
	width: 40%;
	float: right;
	padding: 0 0 3em 2em;
	}

	section#profile p {
		float: left; 
		width: 60%;
		text-align: left;
		font-size: 18px;
	}

	section#portfolio {
		clear: both;
		padding: 0 1em 0 1em;
	}

	section#portfolio figure {
		width: 50%;
		float: left;
	}

	section#portfolio .project-title {
		font-size: 18px;
		padding-top: .5em;
	}

	section#portfolio .description {
		width: 80%;
		margin: auto;
		font-size: 16px;
	}

	section#portfolio figure img {
		padding: .5em;
	}

	section#portfolio .medium-clear {
		clear: both;
	}

	section#skills {
		padding-top: 2em;
	}

	section#contact {
		clear: both;
	}

	section#contact p {
		width: 70%;
		margin: auto;
	}

	.back-to-top {
		display: none;
	}

	nav#footer-nav {
		display: block;
		float: right;
	}

	nav#footer-nav a {
		font-size: 12px;
	}

	footer h4 {
		font-size: 14px;
	}

}

/* Second Break Point 960px ------*/

@media screen and (min-width: 920px) {

	header {
		padding-top: 3em;
	}

	h1 {
		float: left;
		display: inline-block;
		padding-top: 0;
	}

	nav#main-nav {
		float: right;
		display: inline-block;
	}

	section#profile {
		clear: both;
	}

	section#profile p {
		font-size: 22px;
	}

	section#portfolio,
	section#skills {
		width: 95%; 
		margin: auto;
	}
	section#portfolio figure {
		width: 33.333%;
	}

	section#portfolio .wide-clear {
		clear: both;
	}

	section#portfolio .medium-clear {
		display: none;
	}

	section#skills .skill-icon{
		height: 90px;
		width: 90px; 
		margin: 0 .75em 1em .75em;
	}

	section#skills .skill-icon p {
		font-size: 14px;
	}

	section#contact {
		padding-bottom: 4em;
	}

	section#contact p {
		width: 60%;
		font-size: 21px;
	}

	section#contact a {
		font-size: 21px;
		padding-bottom: 0;
	}

}
