section#profile {
	@extend %padding-bottom;

	img {
		width: 70%;
		padding: $padding-even;

		@media #{$brk-medium} {
			width: 40%;
			float: right;
			padding: 0 0 3em 2em;
		}

		@media #{$brk-wide} {
			clear: both;
		}
	}

	p {
		@media #{$brk-medium} {
			float: left; 
			width: 60%;
			text-align: left;
			font-size: 18px;
		}

		@media #{$brk-wide} {
			font-size: 22px;
		}
	}

	@media #{$brk-medium} {
		padding-bottom: 2em;
	}

}

