
input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

.menu-toggle { 
  background-image: url('../images/menu.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  display: inline-block;
  cursor: pointer;

  @media #{$brk-medium} {
    display: none;
  }

}

.div-menu {
  display: none;

  @media #{$brk-medium} {
    display: block;
  }

}

#toggle-1:checked ~ .div-menu {
   display: block;
   margin-top: 1em;
}
